[submodule "dmenu"]
	path = repos/dmenu
	url = https://github.com/kieroid/dmenu
[submodule "dwm"]
	path = repos/dwm
	url = https://github.com/kieroid/dwm
[submodule "st"]
	path = repos/st
	url = https://github.com/kieroid/st
